<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Smartling_Connector>
            <version>1.0.0</version>
        </Smartling_Connector>
    </modules>
    <global>
        <blocks>
            <connector>
                <class>Smartling_Connector_Block</class>
            </connector>
            <adminhtml>
                <rewrite>
                    <cms_block_edit_form>Smartling_Connector_Block_Adminhtml_Cms_Block_Edit_Form</cms_block_edit_form>
                    <system_store_edit_form>Smartling_Connector_Block_Adminhtml_Localization_Files_Edit_Form</system_store_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <connector>
                <class>Smartling_Connector_Helper</class>
            </connector>
        </helpers>
        <models>
            <connector>
                <class>Smartling_Connector_Model</class>
                <resourceModel>connector_resource</resourceModel>
            </connector>
            <connector_resource>
                <class>Smartling_Connector_Model_Resource</class>
                <entities>
                    <translate_content>
                        <table>smartling_translate_content</table>
                    </translate_content>
                    <content_types>
                        <table>smartling_content_types</table>
                    </content_types>
                    <translate_attributes>
                        <table>smartling_translate_attributes</table>
                    </translate_attributes>
                    <translate_fields>
                        <table>smartling_translate_fields</table>
                    </translate_fields>
                    <projects>
                        <table>smartling_projects</table>
                    </projects>
                    <projects_locales>
                        <table>smartling_projects_locales</table>
                    </projects_locales>
                    <localization_files_index>
                        <table>smartling_localization_files_index</table>
                    </localization_files_index>
                </entities>
            </connector_resource>
        </models>
        <events>
            <cms_page_save_after>
                <observers>
                    <get_cmspage_info_after_save>
                        <type>singleton</type>
                        <class>Smartling_Connector_Model_Content_CmsPage_Observer</class>
                        <method>getPageInfo</method>
                    </get_cmspage_info_after_save>
                </observers>                
            </cms_page_save_after>
            <model_save_after>
                <observers>
                    <send_cms_block_to_translator>
                        <type>singleton</type>
                        <class>Smartling_Connector_Model_Content_CmsBlock_Observer</class>
                        <method>sendBlockContentToTranslator</method>
                    </send_cms_block_to_translator>
                </observers>
            </model_save_after>
            <catalog_product_prepare_save>
                <observers>
                    <add_translate_options_to_product>
                        <type>singleton</type>
                        <class>Smartling_Connector_Model_Content_Product_Observer</class>
                        <method>addTranslationOptions</method>
                    </add_translate_options_to_product>
                </observers>
            </catalog_product_prepare_save>
             <catalog_product_save_after>
                <observers>
                    <send_product_content_to_translator>
                        <type>singleton</type>
                        <class>Smartling_Connector_Model_Content_Product_Observer</class>
                        <method>sendProductContentToTranslator</method>
                    </send_product_content_to_translator>
                </observers>
            </catalog_product_save_after>
            <catalog_category_prepare_save>
                <observers>
                    <add_translate_options_to_category>
                        <type>singleton</type>
                        <class>Smartling_Connector_Model_Content_Category_Observer</class>
                        <method>addTranslationOptions</method>
                    </add_translate_options_to_category>
                </observers>
            </catalog_category_prepare_save>
            <catalog_category_save_after>
                <observers>
                    <send_category_content_to_translator>
                        <type>singleton</type>
                        <class>Smartling_Connector_Model_Content_Category_Observer</class>
                        <method>sendCategoryContentToTranslator</method>
                    </send_category_content_to_translator>
                </observers>
            </catalog_category_save_after>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <add_translation_tab>
                        <type>singleton</type>
                        <class>Smartling_Connector_Block_Adminhtml_Catalog_Category_Tab_Observer</class>
                        <method>addTranslationTab</method>
                    </add_translation_tab>
                </observers>
            </adminhtml_catalog_category_tabs>
            <smartling_apply_content_after>
                <observers>
                    <prepare_attributes_options>
                        <type>singleton</type>
                        <class>Smartling_Connector_Model_Service_Observer</class>
                        <method>prepareAttributesOptions</method>
                    </prepare_attributes_options>
                </observers>
            </smartling_apply_content_after>
            <smartling_apply_content_after>
                <observers>
                    <prepare_attributes_options>
                        <type>singleton</type>
                        <class>Smartling_Connector_Model_Service_Observer</class>
                        <method>updateTranslatedContentId</method>
                    </prepare_attributes_options>
                </observers>
            </smartling_apply_content_after>
            <smartling_check_statuses_before>
                <observers>
                    <join_files_path>
                        <class>Smartling_Connector_Model_Localization_Files_Observer</class>
                        <method>joinFilesPath</method>
                    </join_files_path>    
                </observers>
            </smartling_check_statuses_before>
            <smartling_check_statuses_after>
                <observers>
                    <prepare_attributes_options>
                        <type>singleton</type>
                        <class>Smartling_Connector_Model_Service_Observer</class>
                        <method>importEavOptions</method>
                    </prepare_attributes_options>
                    <update_content_statuses>
                        <type>singleton</type>
                        <class>Smartling_Connector_Model_Service_Observer</class>
                        <method>updateContentStatuses</method>
                    </update_content_statuses>
                </observers>
            </smartling_check_statuses_after>
            <smartling_push_to_queue_after>
                <observers>
                    <fill_source_locale>
                        <type>singleton</type>
                        <class>Smartling_Connector_Model_Translator_Observer</class>
                        <method>fillSourceLocale</method>
                    </fill_source_locale>
                    <fill_title>
                        <class>Smartling_Connector_Model_Translator_Observer</class>
                        <method>fillTitles</method>
                    </fill_title>
                    <reset_changed_flag>
                        <class>Smartling_Connector_Model_Localization_Files_Observer</class>
                        <method>resetСhangedFlag</method>
                    </reset_changed_flag>
                </observers>
            </smartling_push_to_queue_after>
        </events>
        <resources>
            <smartling_setup>
                <setup>
                    <module>Smartling_Connector</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </smartling_setup>                      
        </resources>
    </global>
    <admin>
        <routers>
            <connector>
                <use>admin</use>
                <args>
                    <module>Smartling_Connector</module>
                    <frontName>smartling</frontName>
                </args>
            </connector>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <connector>
                    <file>smartling/translator.xml</file>
                </connector>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <connector>
                <use>standard</use>
                <args>
                    <module>Smartling_Connector</module>
                    <frontName>smartling</frontName>
                </args>
            </connector>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <upload_bulk_content>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>connector/service::callUpload</model>
                </run>
            </upload_bulk_content>
            <check_statuses>
                <schedule>
                    <cron_expr>* */3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>connector/service::updateStatus</model>
                </run>
            </check_statuses>
            <check_files>
                <schedule>
                    <cron_expr>* */1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>connector/localization_files_observer::checkFiles</model>
                </run>
            </check_files>
        </jobs>
    </crontab>
    <default>
        <dev>
          <smartling>
            <mock_data>0</mock_data>
            <log_file>smartling.log</log_file>
            <log_level>6</log_level>
            <cache_statuses_life_time>600</cache_statuses_life_time>
          </smartling>
        </dev>
        <connector>
            <translate_attributes>
                <catalog_product>
                    <small_image/>
                    <thumbnail/>
                    <url_key/>
                    <url_path/>
                    <image/>
                    <visibility/>
                    <custom_design/>
                    <custom_design_from/>
                    <custom_design_to/>
                    <custom_layout_update/>
                    <custom_use_parent_settings/>
                    <page_layout/>
                </catalog_product>
                <catalog_category>
                    <thumbnail/>
                    <url_key/>
                    <url_path/>
                    <image/>
                    <page_layout/>
                    <landing_page/>
                    <is_active/>
                    <display_mode/>
                    <default_sort_by/>
                    <custom_apply_to_products/>
                    <available_sort_by/>
                    <available_sort_by/>
                    <custom_design/>
                    <custom_design_from/>
                    <custom_design_to/>
                    <custom_layout_update/>
                    <custom_use_parent_settings/>
                    <filter_price_range/>
                    <include_in_menu/>
                </catalog_category>
                <cms_page>
                    <root_template/>
                    <layout_update_xml/>
                    <custom_theme/>
                    <custom_root_template/>
                    <custom_layout_update_xml/>
                    <identifier/>
                </cms_page>
                <cms_block>
                    <root_template/>
                    <layout_update_xml/>
                    <custom_theme/>
                    <custom_root_template/>
                    <custom_layout_update_xml/>
                    <identifier/>
                </cms_block>
            </translate_attributes>
            <max_threads>5</max_threads>
            <api_url>https://capi.smartling.com/v1</api_url>
        </connector>
    </default>
</config>